PRIVATE_KEY=
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
ETHERSCAN_API_KEY=
REPORT_GAS=false
NEXT_PUBLIC_RWA_REGISTRY_ADDRESS=
NEXT_PUBLIC_CREDIT_SCORE_ADDRESS=
NEXT_PUBLIC_PRIVATE_LENDING_ADDRESS=
NEXT_PUBLIC_STABLECOIN_ADDRESS=
NEXT_PUBLIC_STABLECOIN_FAUCET_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_SEPOLIA_RPC_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
